body {
    background-color: #f6f6f6;
}
.gp-head {
    margin-left: 11em;
}
.gp-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 10em;
}
.gp-logo {
    width: 10em;
}
.gp-body {
    background-color: #ffffff;
    margin-left: 11em;
    margin-top: -1px;
    min-height: 100%;
    padding: 1.25em 1.5em 1.5em 1.5em;
    border: 1px solid #a7d7f9;
    border-right-width: 0;
}
.gp-panel-section {
    padding-top: 2em;
    padding-left: 1em;
}
#p-personal {
	display: flex;
	justify-content: flex-end
}
#right-navigation {
    padding-top: 1em;
}
.gp-navigation {
	display: inline-block;
	padding-left: 1px;
	margin: 0;
	background: linear-gradient(to bottom,#f6f6f6 0,#a7d7f9 100%);
}
.gp-navigation li {
	display: inline-block;
	list-style: none;
	padding: 3px 3px 3px 3px;
	margin-right: 1px;
	font-size: 1.1em;
	cursor: pointer;
	background-image: linear-gradient(to top,#77c1f6 0,#e8f2f8 1px,#ffffff 100%);
}
.gp-navigation li.selected {
	background-image: linear-gradient(to bottom,#f6f6f6 0,white 100%);
}
.gp-dump {
	background: silver
}
a {
    color: #0645ad;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.search-box {
    float: right;
    border: solid 1px black;
    background-color: field;
}
.search-box-input {
    width: 20vw;
    border: none;
    outline: none;
    height: 17.5px;
    vertical-align: middle;
}
.search-box-button {
    height: 17.5px;
    vertical-align: middle;
}
.search-box-results {
    width: 21vw;
    border-spacing: 5px;
    display: none;
}
.search-box-results > tr > div {
    overflow-wrap: break-word; 
}
.search-box-results > tr > div:first-child {
    font-weight: bold;
}
.search-box-results > tr.current {
    background-color: #2a4b8d;
    color: #fff;
}

h1.gp-page-title {
    font-size: 1.8em;
}

h2.gp-page-title {
    font-size: 1.5em;
}

h3.gp-page-title {
    font-size: 0.75em;
}

.gp-page-title {
    margin-bottom: 0.6em;
    border-bottom: 1px solid #a2a9b1;
}

.gp-editor {
    border: 1px solid silver;
}

div.infobox {
	float: right;
	padding-left: 1em;
	padding-bottom: 1em;
	background-color: #ffffff;
}

div.infobox > table {
	float: right;
    border: 1px solid #a2a9b1;
    border-collapse: collapse;
    background-color: #f8f9fa;
}

.infobox td {
   padding: 0.3em;
   text-align: center;
}

.unchecked {
	text-decoration: underline dotted gold;
	text-decoration-thickness: 3px;
}

.guessed {
	text-decoration: underline dotted red;
	text-decoration-thickness: 3px;
}

span.checked:hover, span.unchecked:hover, span.guessed:hover {
	background: #bdf;
	cursor: pointer;
}

span.selected-lexeme {
	background: #66c;
	color: white;
	padding-left: 0.4em;
	padding-right: 0.4em;
	font-weight: bold;
}

span.selected-lexeme:hover {
	background: #66c;
	cursor: auto;
}

.error-markers {
    width: 1em;
}

.error-markers-element {
    color: red;
    font-size: 2em;
}

.error-markers-element .message {
  visibility: hidden;
  background-color: #eee;
  text-align: left;
  font-size: 1em;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 10;
}

.error-markers-element:hover .message {
  visibility: visible;
}

.gp-medium-list {
    column-count: 2
}

.gp-long-list {
    column-count: 4
}
